.message{"data-message-id": "#{message.id}"}
  .upper-message
    %p.upper-message__username 
      = message.user.name
    %p.upper-message__date 
      = message.created_at.to_s
  .lower-message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?