.side-bar
  .side-header
    %p.side-header__name 
      = current_user.name
    %ul.side-header__lists
      %li.new-list
        = link_to do
          = fa_icon 'pencil-square-o',  class: 'icon'
      %li.edit-list
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog',  class:  'icon'
  .groups
    .group
      %p.group__name taeko
      %p.group__message こんにちは
