%body
  .wrapper
    = render partial: "shared/side_bar"
    .main-bar
      .header
        .left-header
          %h2.left-header__title
            =@group.name
          %ul.left-header__users
            "Members":"
            %li.user 
            -# 変数＠groupの中にある情報を||の中に１つずつ入れてgroup_userに代入
            - @group.group_users.each do |group_user|
              = group_user.user.name
        .right-header
          .right-header__button 
            = link_to edit_group_path(@group) do
              Edit
      .messages
        = render partial: 'message', collection: @messages
      .form
        = form_for [@group, @message] do |f|
          .form__message
            = f.text_field :content, class: "form__mask", placeholder: "type a message"
            = f.label :image, class: "form__image" do
              = fa_icon 'picture-o', class: "icon"
              = f.file_field :image, class: "hidden"
            = f.submit "Send", class: "submit__btn"
